version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - MONGO_URI=${MONGO_URI}
      - JWT_SECRET=${JWT_SECRET}
      - PORT=8080
    env_file:
      - .env
    volumes:
      - ./uploads:/root/uploads
    restart: unless-stopped
    networks:
      - projectpi-network

networks:
  projectpi-network:
    driver: bridge
